@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9862 0.0068 247.8939);
  --foreground: oklch(0.4371 0.0967 256.7260);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.4371 0.0967 256.7260);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.4371 0.0967 256.7260);
  --primary: oklch(0.7403 0.1357 244.2552);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9075 0.0398 222.9176);
  --secondary-foreground: oklch(0.5880 0.0993 245.7394);
  --muted: oklch(0.9116 0.0323 242.3708);
  --muted-foreground: oklch(0.6746 0.1414 261.3380);
  --accent: oklch(0.8148 0.0819 225.7537);
  --accent-foreground: oklch(0.3621 0.0940 257.3875);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9075 0.0398 222.9176);
  --input: oklch(0.9075 0.0398 222.9176);
  --ring: oklch(0.7403 0.1357 244.2552);
  --chart-1: oklch(0.7403 0.1357 244.2552);
  --chart-2: oklch(0.5880 0.0993 245.7394);
  --chart-3: oklch(0.6746 0.1414 261.3380);
  --chart-4: oklch(0.8148 0.0819 225.7537);
  --chart-5: oklch(0.7181 0.1029 267.0002);
  --sidebar: oklch(0.9116 0.0323 242.3708);
  --sidebar-foreground: oklch(0.4371 0.0967 256.7260);
  --sidebar-primary: oklch(0.7403 0.1357 244.2552);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8148 0.0819 225.7537);
  --sidebar-accent-foreground: oklch(0.3621 0.0940 257.3875);
  --sidebar-border: oklch(0.9075 0.0398 222.9176);
  --sidebar-ring: oklch(0.7403 0.1357 244.2552);
  --font-sans: Roboto, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.625rem;
  --shadow-2xs: 2px 2px 4px 0px hsl(255 86% 66% / 0.10);
  --shadow-xs: 2px 2px 4px 0px hsl(255 86% 66% / 0.10);
  --shadow-sm: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 1px 2px -1px hsl(255 86% 66% / 0.20);
  --shadow: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 1px 2px -1px hsl(255 86% 66% / 0.20);
  --shadow-md: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 2px 4px -1px hsl(255 86% 66% / 0.20);
  --shadow-lg: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 4px 6px -1px hsl(255 86% 66% / 0.20);
  --shadow-xl: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 8px 10px -1px hsl(255 86% 66% / 0.20);
  --shadow-2xl: 2px 2px 4px 0px hsl(255 86% 66% / 0.50);
}

.dark {
  --background: oklch(0.3621 0.0940 257.3875);
  --foreground: oklch(0.9075 0.0398 222.9176);
  --card: oklch(0.4371 0.0967 256.7260);
  --card-foreground: oklch(0.9075 0.0398 222.9176);
  --popover: oklch(0.4371 0.0967 256.7260);
  --popover-foreground: oklch(0.9075 0.0398 222.9176);
  --primary: oklch(0.7403 0.1357 244.2552);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.4371 0.0967 256.7260);
  --secondary-foreground: oklch(0.9075 0.0398 222.9176);
  --muted: oklch(0.4371 0.0967 256.7260);
  --muted-foreground: oklch(0.6746 0.1414 261.3380);
  --accent: oklch(0.5880 0.0993 245.7394);
  --accent-foreground: oklch(0.9075 0.0398 222.9176);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.4281 0.1118 268.6708);
  --input: oklch(0.4281 0.1118 268.6708);
  --ring: oklch(0.7403 0.1357 244.2552);
  --chart-1: oklch(0.6746 0.1414 261.3380);
  --chart-2: oklch(0.7403 0.1357 244.2552);
  --chart-3: oklch(0.5880 0.0993 245.7394);
  --chart-4: oklch(0.8148 0.0819 225.7537);
  --chart-5: oklch(0.6746 0.1414 261.3380);
  --sidebar: oklch(0.3621 0.0940 257.3875);
  --sidebar-foreground: oklch(0.9075 0.0398 222.9176);
  --sidebar-primary: oklch(0.7403 0.1357 244.2552);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.5880 0.0993 245.7394);
  --sidebar-accent-foreground: oklch(0.9075 0.0398 222.9176);
  --sidebar-border: oklch(0.4281 0.1118 268.6708);
  --sidebar-ring: oklch(0.7403 0.1357 244.2552);
  --font-sans: Roboto, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.625rem;
  --shadow-2xs: 2px 2px 4px 0px hsl(255 86% 66% / 0.10);
  --shadow-xs: 2px 2px 4px 0px hsl(255 86% 66% / 0.10);
  --shadow-sm: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 1px 2px -1px hsl(255 86% 66% / 0.20);
  --shadow: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 1px 2px -1px hsl(255 86% 66% / 0.20);
  --shadow-md: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 2px 4px -1px hsl(255 86% 66% / 0.20);
  --shadow-lg: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 4px 6px -1px hsl(255 86% 66% / 0.20);
  --shadow-xl: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 8px 10px -1px hsl(255 86% 66% / 0.20);
  --shadow-2xl: 2px 2px 4px 0px hsl(255 86% 66% / 0.50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  @keyframes marquee {
  from {
    transform: translateX(0);
    }
  to {
    transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
  from {
    transform: translateY(0);
    }
  to {
    transform: translateY(calc(-100% - var(--gap)));
    }
  }
  --animate-grid: grid 15s linear infinite
;
  @keyframes grid {
  0% {
    transform: translateY(-50%);
    }
  100% {
    transform: translateY(0);
    }
  }}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}